<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RHDHVInspections</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>

        body{background-color: #ccefff;
        }

        .container-xlg{background-color:#ffffff;
        }

        .container-xxl{background-color:#ffffff;
        }

    </style>
</head>
{% include 'dashboard/navbar.html' %}
<body>

    <br>
    <h2>Client: {{client_name}}</h2>
    <h3>Site: {{site_name}}</h3>

    <br>

    <div class="container-xxl">
    <table class="table">
        <thead class="table-dark">
        <tr>
          <th scope="col">Asset Ref</th>
          <th scope="col">Asset Name</th>
          <th scope="col">Last Inspection</th>
		  <th scope="col">Number of Elements</th>
          <th scope="col">Number of Defects</th>
        </tr>
      </thead>
      <tbody>
	  	{% for a, b, c, d, e in table_info %}
            <tr>
                <td>{{a}}</td>
                <td>{{b}}</td>
                <td>{{c}}</td>
                <td>{{d}}</td>
                <td>{{e}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    <hr>
    <h5>Our Footer</h5>

</body>
</html>