<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-clients">
			  	<div class="card-header">
			  		<h5 class="card-title">Total No. of Clients</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_clients}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-sites">
			  	<div class="card-header">
			  		<h5 class="card-title">Total No. of Sites</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_sites}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-structures">
			  	<div class="card-header">
			  		<h5 class="card-title">Total No. of Structures</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_structures}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>